**/.idea
/Aptero_Client/static_assets/meetroom.glb
/Aptero_Client/static_assets/meetroom.mtl
/Aptero_Client/static_assets/meetroom.obj
/Aptero_Client/static_assets/AM134_14_wood_1.png
/Aptero_Client/static_assets/TexturesCom_ConcreteBare0330_7_seamless_S.png
/Aptero_Client/static_assets/TexturesCom_FabricPlain0059_1_seamless_S.jpg
/Aptero_Client/static_assets/TexturesCom_WoodFine0033_1_seamless_S.jpg
